<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.lacakcepat.covidnineteen">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="m">

        <!-- Loading Screen -->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- OnBoarding Screen -->
        <activity
            android:name=".ui.activity.OnBoardingActivity"
            android:screenOrientation="portrait" />

        <!-- Auth Screen -->
        <activity
            android:name=".ui.activity.AuthActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- Verification Screen -->
        <activity
            android:name=".ui.activity.OtpVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- Main Screen -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />

        <!--        <activity-->
        <!--            android:name=".ui.activity.LoginActivity"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->

        <!--        <activity-->
        <!--            android:name=".ui.activity.MainActivity"-->
        <!--            android:theme="@style/NoActionBarAndAnim" />-->

        <!--        <activity-->
        <!--            android:name=".ui.activity.CovidCaseActivity"-->
        <!--            android:theme="@style/AppTheme.NoActionBar">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.VIEW" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

        <!--        <service android:name=".service.ScanService" />-->

    </application>

</manifest>